---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '~/assets/images/logo_white_v3.png';
import googlePlayBadge from '@/images/play_store_en.svg';
import appStoreBadgePlaceholder from '@/images/app_store_en.svg';
import { appStoreUrl, playStoreUrl } from '@/utils/urls';
---

<Layout>
  <Fragment slot="head">
    <link rel="preload" href={logo.src} as="image" type="image/png" />
    <link rel="preload" href={googlePlayBadge.src} as="image" type="image/svg+xml" />
    <link rel="preload" href={appStoreBadgePlaceholder.src} as="image" type="image/svg+xml" />
  </Fragment>
  <div class="container">
    <main>
      <Image src={logo} alt="Dainorėlis Logo" class="logo" />
      <h1 class="visually-hidden">Dainorėlis App</h1>
      <!-- <p>
        The Dainorėlis App is your Lithuanian song book. Quickly find and bookmark over 500 Lithuanian folk songs,
        campfire songs, children’s songs, and more! Learn the melodies with sheet music, recordings, or chords. Download
        the app to access the entire library of songs without an internet connection.
      </p> -->
      <p>
        The Dainorėlis App is your Lithuanian song book. Quickly find and bookmark over 150 Lithuanian folk songs,
        campfire songs, children’s songs, and more! Download the app to access the entire library of songs without an
        internet connection.
      </p>
      <div class="badges">
        <a href={appStoreUrl} rel="noopener noreferrer" aria-label="Download on the App Store">
          <Image src={appStoreBadgePlaceholder} alt="Download on the App Store" />
        </a>
        <a href={playStoreUrl} rel="noopener noreferrer" aria-label="Join the beta on Google Play">
          <Image src={googlePlayBadge} alt="Join the beta on Google Play" />
        </a>
      </div>
    </main>
    <footer>
      <span>&copy; {new Date().getFullYear()} Dainorėlis Team</span>
      <span class="separator">|</span>
      <a href="mailto:info@dainorelisapp.com">info@dainorelisapp.com</a>
    </footer>
  </div>
  <style>
    .container {
      min-height: 100vh;
      min-height: 100dvh;
      padding-left: calc(2 * var(--spacing));
      padding-right: calc(2 * var(--spacing));
      display: flex;
      flex-direction: column;
    }
    footer {
      padding-top: calc(0.25 * var(--spacing));
      padding-bottom: calc(0.25 * var(--spacing));
      font-size: var(--text--2);
      gap: calc(0.25 * var(--spacing));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    footer a {
      text-decoration: none;
    }
    footer a:hover,
    footer a:focus-visible {
      text-decoration: underline;
    }
    footer .separator {
      display: none;
    }
    @media (min-width: 400px) {
      footer {
        flex-direction: row;
        gap: calc(0.5 * var(--spacing));
      }
      footer .separator {
        display: inline;
      }
    }
    main {
      flex: 1;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding-top: calc(4 * var(--spacing));
      padding-bottom: calc(4 * var(--spacing));
      display: flex;
      flex-direction: column;
      gap: 2em;
      align-items: center;
      justify-content: center;
    }
    .logo {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
    }
    p {
      text-align: center;
      text-wrap: balance;
    }
    .badges {
      display: flex;
      flex-direction: column;
      gap: calc(1 * var(--spacing));
    }
    .badges img {
      height: auto;
      width: 100%;
      max-width: calc(8 * var(--spacing));
    }
    @media (min-width: 400px) {
      .badges {
        flex-direction: row;
        gap: calc(2 * var(--spacing));
      }
      .badges img {
        height: calc(2.5 * var(--spacing));
        width: auto;
        max-width: none;
      }
    }
    .badges a {
      transition: opacity 0.1s ease-in-out;
    }
    .badges a:hover,
    .badges a:focus-visible {
      opacity: 0.75;
    }
  </style>
</Layout>
